body{
    background-image: url("FD.png");
    background-size: 100%;
}

.titre{
    font-size:40px;
    text-align: center;
    background-color: #0d0d0d;
    color: skyblue;
} 

.stitre{
    font-size: 20px;    
    color: skyblue;
}

.text-index{
    width: 50%;
    list-style-type: none;
    color: skyblue;
    text-decoration: none;
}

.text1{
    color: skyblue;
}

.textC{
    text-align: center;
    color: skyblue;
    font-size: 20px;
}


.centre{
    display: block;
    margin: auto;
}
.tableau{
    border: 2px solid skyblue;
    border-collapse: collapse;
    text-decoration: none;
    color: skyblue;
}

.case{
    color: #4287f5;
    text-decoration: none;
}

u{
    text-decoration-color: #4287f5;
}
#HiHi{
    font-size: 1px;
    color: black;
    text-align: center;
}








*{
    padding: 0px;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: #0d0d0d;
    position: sticky;
    top: 0px; 
    z-index:1000;      
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: skyblue;
    border-bottom: 2px solid skyblue;
    padding: 10px 0px;
}

nav a:hover{
    color: #4287f5;
    border-bottom: 2px solid #4287f5;
}

.sous-menu{
    display: none;
    background-color: #0d0d0d;
    position: absolute;
    width: 100%;
    z-index:1000;
}
nav > ul li:hover .sous-menu{
    display: block;
    z-index: 1000;
}
.sous-menu li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous-menu a{
    padding: 10px;
    border-bottom: none;
}
.sous-menu a:hover{
    border-bottom: none;
    background-color: #0d0d0d;

}
.bandeau > a::after{
    content:" ▼";
    font-size: 12px;
}
.home  > a::after{
    color:transparent;
    content:" ▼";
    font-size:12px;
}

.construct{
    color:rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
    background-image: url("https://media.istockphoto.com/id/1188381725/fr/vectoriel/illustration-de-fond-de-ligne-de-bande-de-danger.jpg?s=612x612&w=0&k=20&c=mtPfQV6oae62sZnaE-slOrzIjmwYo-ljziwGk-wQiMo=")   
}
