body{
    background-image: url("https://images.unsplash.com/photo-1530053969600-caed2596d242?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fHw%3D");
    background-size: 100%
}
.titre{
    font-size:45px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
